.eVo {
    font-size: 100px;
    color: white;
    text-shadow: 0px 5px 5px rgba(94, 94, 94, 0.60);
    font-family: Impact, Charcoal, sans-serif
}
.eVo>span {
    font-size: 128px;
}
.eVo>ul li {
    font-size: 20px;
    color: #333;
}
.eVo>a {
    color: #333;
}

html,body {
    height: 100%;
    width:100%;

    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 23%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(237,237,237,1) 81%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(23%, rgba(254,254,254,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(81%, rgba(237,237,237,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 23%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(237,237,237,1) 81%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 23%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(237,237,237,1) 81%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 23%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(237,237,237,1) 81%, rgba(254,254,254,1) 100%);
    background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 23%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(237,237,237,1) 81%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
