body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.eVo {
    font-size: 100px;
    color: white;

    font-family: Impact, Charcoal, sans-serif;

text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


}
.eVo>span {
    font-size: 128px;
}
.eVo>ul li{
    font-size: 20px;
    color: #ddd;
}

.eVo>ul li a{
    font-size: 30px;
    color: #ddd;
    text-decoration: none;

}
.eVo>ul li a:hover{
    font-size: 30px;
    color: #ddd;
    text-decoration: none;
    text-shadow: 0px 10px 10px rgba(94, 94, 94, 0.60);
}
