<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <!--script type="text/babel" src="javascripts/example.jsx">
    </script-->
    <script type="text/babel">
    class Comment extends React.Component {
         rawMarkup() {
           var rawMarkup = marked(this.props.children.toString(), {sanitize: true});
           return { __html: rawMarkup };
         }

         render() {
           return (
             <div className="comment">
               <h2 className="commentAuthor">
                 {this.props.author}
               </h2>
               <span dangerouslySetInnerHTML={this.rawMarkup()} />
             </div>
           )
         }

    }

      // tutorial10.js
      class CommentList extends React.Component {
           render() {
             var commentNodes = (this.props.data || []).map(function(comment) {
               return (
                 <Comment author={comment.author} key={comment.id}>
                   {comment.text}
                 </Comment>
               );
             });
             return (
               <div className="commentList">
                 {commentNodes}
               </div>
             );
           }

      }

     class CommentForm extends React.Component {
          constructor (props) {
            super(props)
            this.handleSubmit = this.handleSubmit.bind(this)
          }

          handleSubmit (e) {
            e.preventDefault()
            const author = this.refs.author.value.trim()
            const text = this.refs.text.value.trim()

            if (!text || !author) {
              return
            }

            // TODO: send request to the server
            this.props.onCommentSubmit({ author: author, text: text })
            this.refs.author.value = ''
            this.refs.text.value = ''
            return
          }

          render () {
            return (
              <form className='comment-form' onSubmit={this.handleSubmit}>
                <input type='text' placeholder='Your name' ref='author' />
                <input type='text' placeholder='Say something...' ref='text' />
                <input type='submit' value='Post' />
              </form>
            )
          }
        
     }


      class CommentBox extends React.Component {
     constructor (props) {
       super(props)
       this.handleCommentSubmit = this.handleCommentSubmit.bind(this)
       this.state = { data: [] }
     }

     loadComments () {
       fetch(this.props.url)
         .then(response => response.json())
         .then(data => this.setState({ data: data }))
         .catch(err => console.error(this.props.url, err.toString()))
     }

     componentDidMount () {
       this.loadComments()
       setInterval(() => this.loadComments(), this.props.pollInterval)
     }

     handleCommentSubmit (comment) {
       const comments = this.state.data
       const newComments = comments.concat([ comment ])

       this.setState({ data: newComments })

       fetch(this.props.url, {
         method: 'post',
         headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json'
         },
         body: JSON.stringify(comment)
       })
       .then(response => response.json())
       .then(data => this.setState({ data: data }))
       .catch(err => console.error(this.props.url, err.toString()))
     }

     render () {
       return (
         <div className='comment-box'>
           <h1>Comments</h1>
           <CommentList data={this.state.data} />
           <CommentForm onCommentSubmit={this.handleCommentSubmit} />
         </div>
       )
     }
   }

   // CommentBox.propTypes = {
   //   url: PropTypes.string.isRequired,
   //   pollInterval: PropTypes.number.isRequired
   // }

    // tutorial11.js
    ReactDOM.render(
      <CommentBox url="comments"  pollInterval={2000} />,
      document.getElementById('content')
    );

    </script>
  </body>
</html>
