<h1>
  {{title}}
</h1>
<eggs-rete-visual></eggs-rete-visual>

 <md-sidenav-layout>
    <md-sidenav #start (open)="closeStartButton.focus()">
      Start Sidenav.
      <br>
      <button md-button #closeStartButton (click)="start.close()">Close</button>
    </md-sidenav>
    <md-sidenav #end align="end">
      End Sidenav.
      <button md-button (click)="end.close()">Close</button>
    </md-sidenav>

    My regular content. This will be moved into the proper DOM at runtime.
    <button md-button (click)="start.open()">Open start sidenav</button>
    <button md-button (click)="end.open()">Open end sidenav</button>

  </md-sidenav-layout>
  
<div class="app-content">
  <md-card>
    <button md-button>FLAT</button>
    <button md-raised-button>RAISED</button>
  </md-card>
</div>


Begin Menu
<md-menu>
    <button md-menu-item> Refresh </button>
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
    <button md-menu-item disabled> Sign Out </button>
</md-menu>
End Menu